body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #61baf1;
  font-family: 'Arial', sans-serif;
  color: #f4f4f9;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
}

.header h1 {
  font-size: 4rem;
  margin: 0;
  color: #3612e7;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-area {
  display: flex;
  align-items: center;
  padding: 25px;
}

.auth-area button {
  padding: 15px 30px;
  font-size: 1.8rem;
  background-color: #3612e7;
  color: #f4f4f9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.auth-area button:hover {
  background-color: #3612e7;
}

.auth-area #user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: #61baf1;
  border-radius: 15px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
}

.auth-area #username-display {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #3612e7;
}

.auth-area #signout-link {
  font-size: 1.6rem;
  color: #f4f4f9;
  cursor: pointer;
  text-decoration: none;
}

.auth-area #signout-link:hover {
  text-decoration: underline;
}

#chat-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#chat-name-input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  border: none;
  background-color: #61baf1;
  color: #f4f4f9;
}

#chat-setup button {
  padding: 10px 20px;
  font-size: 1.4rem;
  margin: 5px;
  background-color: #3612e7;
  color: #f4f4f9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#chat-setup button:hover {
  background-color: #3612e7;
}
